@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-primary {
  background-color: #05192d;
}

.color-secendary {
  background-color: #03ef62;
}

.text-primary {
  color: #05192d;
}

.text-secendary {
  color: #03ef62;
}

.text-secendary-hover:hover {
  color: #03ef62;
}

.border-secendary {
  border-color: #03ef62;
}

.color-secendary-hover:hover {
  background-color: #03ef62;
  transition-property: background-color;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.date-picker{
  min-width: 17.5rem !important;
  padding: 0.5rem !important;
  margin-bottom: 2rem !important;
}